#header-gc {
	background: #7d7e7d; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #7d7e7d 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: #fff;
	/*border-bottom: 1px solid #000;*/
	-webkit-box-shadow: inset 0px -20px 20px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    inset 0px -20px 20px 0px rgba(0, 0, 0, 1);
	box-shadow:         inset 0px -20px 20px 0px rgba(0, 0, 0, 1);
}

#header-involved {
    background-color: #7a36b1;
    background-image: linear-gradient(to right bottom, #4c158a, #ad65d6);
    color: #fff;
}

#header-about {
    background: rgba(14,14,14,1);
    background: -moz-linear-gradient(-45deg, rgba(14,14,14,1) 0%, rgba(130,0,0,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(14,14,14,1)), color-stop(100%, rgba(130,0,0,1)));
    background: -webkit-linear-gradient(-45deg, rgba(14,14,14,1) 0%, rgba(130,0,0,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(14,14,14,1) 0%, rgba(130,0,0,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(14,14,14,1) 0%, rgba(130,0,0,1) 100%);
    background: linear-gradient(135deg, rgba(14,14,14,1) 0%, rgba(130,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#820000', GradientType=1 );
    color: #fff;
}

#header-contactus {
    background: rgba(238,255,0,1);
    background: -moz-linear-gradient(-45deg, rgba(238,255,0,1) 0%, rgba(255,170,0,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(238,255,0,1)), color-stop(100%, rgba(255,170,0,1)));
    background: -webkit-linear-gradient(-45deg, rgba(238,255,0,1) 0%, rgba(255,170,0,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(238,255,0,1) 0%, rgba(255,170,0,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(238,255,0,1) 0%, rgba(255,170,0,1) 100%);
    background: linear-gradient(135deg, rgba(238,255,0,1) 0%, rgba(255,170,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeff00', endColorstr='#ffaa00', GradientType=1 );
    color: #0e0e0e;
}

#header-paymentok {
    background: rgba(164,179,87,1);
    background: -moz-linear-gradient(-45deg, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(164,179,87,1)), color-stop(100%, rgba(117,137,12,1)));
    background: -webkit-linear-gradient(-45deg, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: linear-gradient(135deg, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 );
    color: #fff;
}

#header-paymentproc {
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(135deg, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
    color: #fff;
}

#text-justified {
    text-align: justify;
}

#nav-gc {
	border: 0px;
	width: 60%;
	position: center;
	font: 200 1.2em/1 Raleway, Sans;
	letter-spacing: -1px;
}

#nav-gc li {
	border: 0px;
}

#nav-gc li #active {
	border: 0px;
	background-color: rgba(0,0,0,0);
	color: #FFF;
}

#nav-gc li a {
	border: 0px;
	color: #D9D9D9;
	background-color: rgba(0,0,0,0);
}

#nav-gc li a:hover, .nav-contactus li a:hover {
	border: 0px;
	background-color: rgba(0,0,0,0);
	color: #FF0000!important;
}

#header-involved ul li a:hover, #header-paymentproc ul li a:hover, #header-paymentok ul li a:hover {
    color: #ffbf2a!important;
}

#nav-gc li a:active {
	border: 0px;
	background-color: rgba(0,0,0,0);
	color: #FFF;
}

/* ------------- NAVBAR CONTACTUS -------------- */
.nav-contactus li a {
    border: 0px;
	color: #0A0A0A!important;
	background-color: rgba(0,0,0,0);
}

.title-header {
	font: 200 6em/1 Raleway, Sans;
	letter-spacing: -4px;
	text-shadow: 0px -2px 2px rgba(50, 50, 50, 1);
	margin-top: 6%;
}

.title-desc {
	font: 200 1.8em/1 Raleway, Sans;
	letter-spacing: -1px;
	margin-top: -1%;
	margin-bottom: -4%;
}

.titlep-desc {
	font: 200 1.8em/1 Raleway, Sans;
    text-align: justify;
	letter-spacing: -1px;
	margin-top: -1%;
	margin-bottom: -4%;
    margin-left: 12%;
    margin-right: 12%;
}

.title-involved, .title-about {
    color: #FFFFFF;
    font: 200 1.8em/1 Raleway, Sans;
	text-shadow: 0px -2px 2px rgba(50, 50, 50, 1);
	margin-top: 20%;
    text-align: center;
}

.titlep-involved, .titlep-about {
    color: #FFFFFF;
	font: 200 1.4em/1 Raleway, Sans;
    text-align: justify;
	letter-spacing: -1px;
    text-shadow: 0px 1px 1px rgba(50, 50, 50, 1);
	margin-top: 4%;
	margin-bottom: 4%;
    margin-left: 6%;
    margin-right: 6%;
}

.title-contactus {
    color: #000!important;
    font: 200 1.8em/1 Raleway, Sans;
	text-shadow: 0px -2px 2px rgba(50, 50, 50, 1);
	margin-top: 20%;
    text-align: center;
}

.titlep-contactus {
    color: #0F0F0F;
	font: 200 1.4em/1 Raleway, Sans;
    text-align: justify;
	letter-spacing: -1px;
	margin-top: 4%;
	margin-bottom: 4%;
    margin-left: 6%;
    margin-right: 6%;
}

.titlep-paymentok {
    color: #FFFFFF;
	font: 200 1.4em/1 Raleway, Sans;
    text-align: justify;
	letter-spacing: -1px;
	margin-top: 4%;
	margin-bottom: 4%;
    margin-left: 6%;
    margin-right: 6%;
}

#toggle-contactus .icon-bar {
    color: #0F0F0F!important;
    background-color: #0F0F0F!important;
}

#toggle-contactus:hover {
    background-color: #ff6f00;
}

.mobile-header {
	list-style: none;
}

.mobile-header li {
	float: left;
	position: relative;
	display: block;
}

.mobile-header li a {
	float: left;
	position: absolute;
	display: block;
}

#mobile-title {
	margin-left: -42px;
	margin-top: -4px;
	position: absolute;
	font: 200 2em/1 Raleway, Sans;
	letter-spacing: -1px;
}

.mobile-icon {
	width: 	50px;
	height: 50px;
	margin-left: -75%;
}

.navbar-involved {
    background-color: #7a36b1;
    background-image: linear-gradient(to right bottom, #4c158a, #ad65d6);
    color: #ffbf2a!important;
}

.navbar-about {
    background: rgba(14,14,14,1);
    background: -moz-linear-gradient(-45deg, rgba(14,14,14,1) 0%, rgba(130,0,0,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(14,14,14,1)), color-stop(100%, rgba(130,0,0,1)));
    background: -webkit-linear-gradient(-45deg, rgba(14,14,14,1) 0%, rgba(130,0,0,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(14,14,14,1) 0%, rgba(130,0,0,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(14,14,14,1) 0%, rgba(130,0,0,1) 100%);
    background: linear-gradient(135deg, rgba(14,14,14,1) 0%, rgba(130,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#820000', GradientType=1 );
    color: #ffbf2a!important;
}

.navbar-contactus {
    background: rgba(238,255,0,1);
    background: -moz-linear-gradient(-45deg, rgba(238,255,0,1) 0%, rgba(255,170,0,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(238,255,0,1)), color-stop(100%, rgba(255,170,0,1)));
    background: -webkit-linear-gradient(-45deg, rgba(238,255,0,1) 0%, rgba(255,170,0,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(238,255,0,1) 0%, rgba(255,170,0,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(238,255,0,1) 0%, rgba(255,170,0,1) 100%);
    background: linear-gradient(135deg, rgba(238,255,0,1) 0%, rgba(255,170,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeff00', endColorstr='#ffaa00', GradientType=1 );
    color: #0e0e0e;
}

.navbar-paymentok {
    background: rgba(164,179,87,1);
    background: -moz-linear-gradient(-45deg, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(164,179,87,1)), color-stop(100%, rgba(117,137,12,1)));
    background: -webkit-linear-gradient(-45deg, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: linear-gradient(135deg, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 );
    color: #fff;
}

.navbar-paymentproc {
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(135deg, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
    color: #fff;
}

.button-dl {
    color: #fff;
    background: #85C543;
	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(top, #99c268 0%, #7baf3e 100%);
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top, #99c268 0%, #7baf3e 100%);
	/* Opera */
	background-image: -o-linear-gradient(top, #99c268 0%, #7baf3e 100%);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #99c268), color-stop(1, #7baf3e));
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top, #99c268 0%, #7baf3e 100%);
	/* W3C Markup, IE10 Release Preview */
	background-image: linear-gradient(to bottom, #99c268 0%, #7baf3e 100%);
    display: block;
    padding: 0;
    height: 46px;
    line-height: 44px;
    width: 214px;
    margin: 0 0 0 -107px;
    margin-top: -23px;
    position: absolute;
    left: 50%;
    z-index: 1;
    border: 1px solid #7D9E55;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    font-family: 'Open Sans', Sans;
    font-size: 24px;
}

.button-dl a {
    color: #fff;
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0;
    border: 1px solid;
    padding: 0;
    border-color: #c2dba5 #9cc46e #8fbb5b #8eba59;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.button-dl img {
    display: inline-block;
    height: .75em;
    padding: 0 0.3em 0 0;
    vertical-align: baseline;
}

.button-dl:hover {
	background: #94d450;
	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(top, #aad478 0%, #88bd4a 100%);
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top, #aad478 0%, #88bd4a 100%);
	/* Opera */
	background-image: -o-linear-gradient(top, #aad478 0%, #88bd4a 100%);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aad478), color-stop(1, #88bd4a));
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top, #aad478 0%, #88bd4a 100%);
	/* W3C Markup, IE10 Release Preview */
	background-image: linear-gradient(to bottom, #aad478 0%, #88bd4a 100%);
	text-decoration: none;
}

.button-dl:active {
	background: #74b132;
	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(top, #8cb858 0%, #6fa431 100%);
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top, #8cb858 0%, #6fa431 100%);
	/* Opera */
	background-image: -o-linear-gradient(top, #8cb858 0%, #6fa431 100%);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8cb858), color-stop(1, #6fa431));
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top, #8cb858 0%, #6fa431 100%);
	/* W3C Markup, IE10 Release Preview */
	background-image: linear-gradient(to bottom, #8cb858 0%, #6fa431 100%);
}

.button-dl:visited {
	text-decoration: none;
}

.button-involved {
    background-color: #64b9f1;
    background-image: linear-gradient(to bottom,#4ca7e4,#328ecc);
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,.3);
    display: block;
    padding: 0;
    height: 46px;
    line-height: 44px;
    width: 214px;
    margin: -12px 0 0 -107px;
    margin-top: -12px;
    position: absolute;
    left: 50%;
    z-index: 1;
    border: 1px solid #337cac;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    font-family: 'Open Sans', Sans;
    font-size: 24px;
}

.button-involved:hover {
    margin-top: -14px;
    margin-bottom: 2px;
    -webkit-box-shadow: 0px 6px 24px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 24px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 24px -6px rgba(0,0,0,0.75);
}

.button-github {
    max-width: 100%;
    background-image: linear-gradient(to bottom, #4d4d4d, #333);
    border-color: rgba(0, 0, 0, .8);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .02), inset 0 1px 0 0 rgba(255, 255, 255, .2), inset 0 -1px 0 0 rgba(255, 255, 255, .05), 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    overflow: hidden;
    padding-left: 80px!important;
    position: relative;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,.3);
    display: inline-block;
    -webkit-appearance: none;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    margin: 24px;
    outline: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
}

.button-github::before {
    position: absolute;
    font-family: 'Font Awesome\ 5 Brands';
    top: calc(50% - 40px);
    left: -12px;
    top: -30px;
    content: "\f09b";
    font-size: 80px;
    box-sizing: inherit;
}

.button-github:hover {
    text-decoration: none;
    color: #fff;
    margin-top: 22px!important;
    margin-bottom: 26px!important;
    -webkit-box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
    box-shadow: 0px 6px 24px -6px rgba(0,0,0,1);
}

.button-github:visited, .button-github:active, .button-github:enabled {
    color: #FFFFFF;
    text-decoration: none;
}

.button-vala {
    max-width: 100%;
    background-image: linear-gradient(to bottom, #f5f5f5, #d3d3d3);
    border-color: rgba(0, 0, 0, .8);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .02), inset 0 1px 0 0 rgba(255, 255, 255, .2), inset 0 -1px 0 0 rgba(255, 255, 255, .05), 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .16);
    overflow: hidden;
    padding-left: 80px!important;
    position: relative;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #000!important;
    text-shadow: 0 1px rgba(0,0,0,.3);
    display: inline-block;
    -webkit-appearance: none;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    margin: 24px;
    outline: none;
    padding: 16px 64px;
    text-align: center;
    text-decoration: none;
}

.launchpad-icon {
    position: absolute;
    top: calc(50% - 40px);
    left: -4px;
    top: -16px;
    box-sizing: inherit;
}

.button-vala:hover {
    text-decoration: none;
    color: #000;
    margin-top: 22px!important;
    margin-bottom: 26px!important;
    -webkit-box-shadow: 0px 6px 24px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 24px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 24px -6px rgba(0,0,0,0.75);
}

.button-vala:visited, .button-vala:active, .button-vala:enabled {
    color: #FFFFFF;
    text-decoration: none;
}

.button-sendmessage {
    max-width: 100%;
    background-image: linear-gradient(to bottom, #5c7cfa, #294299);
    border-color: rgba(0, 0, 0, .8);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .02), inset 0 1px 0 0 rgba(255, 255, 255, .2), inset 0 -1px 0 0 rgba(255, 255, 255, .05), 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .16);
    overflow: hidden;
    padding-left: 80px!important;
    position: relative;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #f8f9fa!important;
    text-shadow: 0 1px rgba(0,0,0,.3);
    display: inline-block;
    -webkit-appearance: none;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    margin: 24px;
    outline: none;
    padding: 16px 64px;
    text-align: center;
    text-decoration: none;
}

.button-sendmessage:hover {
    text-decoration: none;
    color: #f8f9fa;
    margin-top: 22px!important;
    margin-bottom: 26px!important;
    -webkit-box-shadow: 0px 6px 24px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 24px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 24px -6px rgba(0,0,0,0.75);
}

.button-sendmessage:visited, .button-sendmessage:active, .button-sendmessage:enabled {
    color: #f8f9fa;
    text-decoration: none!important;
}

.line-dl {
	margin-bottom: 0px;
}

#myNavbar ul li a:hover, #myNavbarAbout ul li a:hover {
	color: #FF0000!important;
}

#header-involved ul li a.activo, #header-about ul li a.activo {
    color: #ffbf2a;
}

#header-gc ul li a.activo, #header-contactus ul li a.activo {
	color: #FF0000!important;
}

#myNavbar ul li a#activo {
	color: #FF0000;
}

/* ------- INVOLVED NAVBAR MOBILE ---------- */
#myNavbarInv {
    background-color: #401666!important;
}

#myNavbarInv ul li a {
    color: #FFFFFF;
}

#myNavbarInv ul li a:hover, #myNavbarAbout ul li a:hover {
	color: #ffbf2a;
}

#myNavbarInv ul li a#activo, #myNavbarAbout ul li a#activo {
	color: #ffbf2a;
}

/* ------- ABOUT NAVBAR MOBILE ---------- */
#myNavbarAbout {
    background-color: #820000;
}

#myNavbarAbout ul li a, #myNavbarPaymentOK ul li a {
    color: #FFFFFF;
}

/* ------- CONTACT US - NAVBAR MOBILE ---------- */
#myNavbarContactus {
    background-color: #ffaa00!important;
}

#myNavbarContactus ul li a {
    color: #000;
}

#myNavbarContactus ul li a#activo {
	color: #FF0000!important;
}

/* ------- PAYMENT OK - NAVBAR MOBILE ---------- */
#myNavbarPaymentOK {
    background-color: #75890c;
}

#myNavbarPaymentOK ul li a:hover {
	color: #ffbf2a;
}

#main-description h1 {
	color: #222;
	font: 400 2.5em/1.2 Raleway, Sans;
	margin: 1em 0 .5em;
	padding: 0 10px;
}

#main-description p {
	color: #808080;
	font-size: 1.2em;
	list-style: none;
	margin: 0.5em 0;
	padding: 0 10px;
}

#characteristics {
	margin-top: 32px;
}

#characteristics h2 {
	color: #222;
	font: 400 1.8em/1.2 Raleway, Sans;
	margin: 1em 0 .5em;
	padding: 0 10px;
}

#characteristics p {
	color: #808080;
	font-size: 1.2em;
	list-style: none;
	margin: 0.5em 0;
	padding: 0 10px;
	text-align: center;
    display: inline-block;
}

.char-img {
	width:  80px;
	height: 80px;
}

.characteristics-container {
    padding: 60px 18px 53px 18px;
    margin: 15px 12px 0px 0px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 6px 0px 0px 0px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.05);
    float: left;
    display: inline-block;
}

.characteristics-container p {
    text-align: justify!important;
}

.profile {
    margin-top: 38px;
    margin-bottom: 38px;
}

.profile h2 {
    font-family: Raleway, Sans;
}

.profile p {
    font-size: 18px;
}

.avatar {
    border: 2px solid #FFFFFF;
	box-shadow: 0px 0px 4px #000000;
}

#gc-desc h2 {
	color: #222;
	font: 400 2.4em/1.2 Raleway;
	margin: 1em 0 .5em;
	padding: 0 10px;
}

#gc-desc p {
	color: #808080;
	font-size: 1.2em;
	list-style: none;
	margin: 0.5em 0;
	padding: 0 10px;
	text-align: justify;
}

#gc-footer {
	background: #ff3019; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #ff3019 0%, #cf0404 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #ff3019 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #ff3019 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 );
	color: #FFFFFF;
	clear: both;
    position: relative;
    z-index: 10;
}

#gc-footer h2 {
	font: 400 1.8em/1.2 Raleway, Sans;
	margin: 1em 0 .5em;
	padding: 0 10px;
}

#gc-footer p {
	font-size: 1em;
	list-style: none;
	margin: 0.5em 0;
	padding: 0 10px;
    text-align: justify;
}